# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3
df = pd.read_csv('CountData_HYS1vs2vs3_PD_withHYS_Male.csv')
df = df[df['HYS'] != 1]
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3
(534, 58782)

,HudAlphaID,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0001,2,15,232,15,0,0,0,0,0,...,0,1,16,1,0,2,19,0,0,0
1,5104_SL_0007,2,0,97,8,0,0,0,0,0,...,0,9,0,1,0,0,7,1,0,0

In [3]:
df1 = df.drop(['HudAlphaID'], axis=1)
df1.head(2)

,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,2,15,232,15,0,0,0,0,0,0,...,0,1,16,1,0,2,19,0,0,0
1,2,0,97,8,0,0,0,0,0,2,...,0,9,0,1,0,0,7,1,0,0

## Top 50 NMI

In [4]:
df2 = pd.read_csv('NMI_AllCounts_HYS2vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0                  HYS
1    ENSG00000249806.1
Name: Geneid, dtype: object

In [5]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(534, 51)

,HYS,ENSG00000249806.1,ENSG00000259336.1,ENSG00000174483.19,ENSG00000248969.1,ENSG00000183431.11,ENSG00000121594.11,ENSG00000234130.2,ENSG00000102710.19,ENSG00000143476.17,...,ENSG00000219355.2,ENSG00000168405.17,ENSG00000079739.16,ENSG00000123838.10,ENSG00000200855.1,ENSG00000128340.14,ENSG00000284471.1,ENSG00000254477.2,ENSG00000168646.12,ENSG00000237638.1
0,2,387,35,120,117,3694,118,10,6930,144,...,30,3027,1536,674,43,2925,2,153,496,36
1,2,220,20,74,34,2408,148,7,6481,37,...,19,2300,1408,29,29,3169,2,211,334,51

In [6]:
df['HYS'].value_counts()

2    511
3     23
Name: HYS, dtype: int64

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.8
2
Mean accuracy: 0.625
3
Mean accuracy: 0.775
4
Mean accuracy: 0.8
5
Mean accuracy: 0.625
6
Mean accuracy: 0.7
7
Mean accuracy: 0.75
8
Mean accuracy: 0.75
9
Mean accuracy: 0.65
10
Mean accuracy: 0.65
11
Mean accuracy: 0.725
12
Mean accuracy: 0.7
13
Mean accuracy: 0.725
14
Mean accuracy: 0.775
15
Mean accuracy: 0.725
16
Mean accuracy: 0.725
17
Mean accuracy: 0.575
18
Mean accuracy: 0.7
19
Mean accuracy: 0.725
20
Mean accuracy: 0.775
21
Mean accuracy: 0.8
22
Mean accuracy: 0.625
23
Mean accuracy: 0.7
24
Mean accuracy: 0.7
25
Mean accuracy: 0.775
26
Mean accuracy: 0.875
27
Mean accuracy: 0.75
28
Mean accuracy: 0.725
29
Mean accuracy: 0.65
30
Mean accuracy: 0.75
31
Mean accuracy: 0.775
32
Mean accuracy: 0.6
33
Mean accuracy: 0.65
34
Mean accuracy: 0.725
35
Mean accuracy: 0.575
36
Mean accuracy: 0.725
37
Mean accuracy: 0.725
38
Mean accuracy: 0.775
39
Mean accuracy: 0.775
40
Mean accuracy: 0.775
41
Mean accuracy: 0.7
42
Mean accuracy: 0.7
43
Mean accuracy: 0.75
44
Mean accuracy: 0.575
45
Mean accuracy: 0.675
46
Mean accuracy: 0.85
47
Mean accuracy: 0.75
48
Mean accuracy: 0.7
49
Mean accuracy: 0.675
50
Mean accuracy: 0.7
51
Mean accuracy: 0.675
52
Mean accuracy: 0.675
53
Mean accuracy: 0.75
54
Mean accuracy: 0.75
55
Mean accuracy: 0.8
56
Mean accuracy: 0.825
57
Mean accuracy: 0.775
58
Mean accuracy: 0.775
59
Mean accuracy: 0.775
60
Mean accuracy: 0.625
61
Mean accuracy: 0.45
62
Mean accuracy: 0.775
63
Mean accuracy: 0.65
64
Mean accuracy: 0.75
65
Mean accuracy: 0.9
66
Mean accuracy: 0.775
67
Mean accuracy: 0.75
68
Mean accuracy: 0.8
69
Mean accuracy: 0.675
70
Mean accuracy: 0.8
71
Mean accuracy: 0.75
72
Mean accuracy: 0.775
73
Mean accuracy: 0.8
74
Mean accuracy: 0.825
75
Mean accuracy: 0.625
76
Mean accuracy: 0.8
77
Mean accuracy: 0.675
78
Mean accuracy: 0.7
79
Mean accuracy: 0.725
80
Mean accuracy: 0.65
81
Mean accuracy: 0.65
82
Mean accuracy: 0.775
83
Mean accuracy: 0.675
84
Mean accuracy: 0.725
85
Mean accuracy: 0.75
86
Mean accuracy: 0.725
87
Mean accuracy: 0.775
88
Mean accuracy: 0.6
89
Mean accuracy: 0.8
90
Mean accuracy: 0.725
91
Mean accuracy: 0.75
92
Mean accuracy: 0.75
93
Mean accuracy: 0.775
94
Mean accuracy: 0.675
95
Mean accuracy: 0.7
96
Mean accuracy: 0.85
97
Mean accuracy: 0.725
98
Mean accuracy: 0.75
99
Mean accuracy: 0.75
100
Mean accuracy: 0.775

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_HYS2vs3_Male_100RF.csv", index = False)

0.7257499999999996

## Top 100 NMI

In [9]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [10]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

(534, 101)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000102383.13,ENSG00000174473.15,ENSG00000223621.1,ENSG00000135919.12,ENSG00000197728.11,ENSG00000259696.2,ENSG00000276819.1,ENSG00000273154.3,ENSG00000267376.1,ENSG00000156395.12
0,2,25,146,212,35,57,36,669,48,1390,...,48,33,70,95,4475,5,40,33,48,197
1,2,23,261,109,20,78,51,502,51,1177,...,25,39,50,36,4010,3,10,52,22,140

In [11]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.65
3
Mean accuracy: 0.7
4
Mean accuracy: 0.75
5
Mean accuracy: 0.675
6
Mean accuracy: 0.675
7
Mean accuracy: 0.75
8
Mean accuracy: 0.7
9
Mean accuracy: 0.625
10
Mean accuracy: 0.65
11
Mean accuracy: 0.725
12
Mean accuracy: 0.675
13
Mean accuracy: 0.675
14
Mean accuracy: 0.6
15
Mean accuracy: 0.65
16
Mean accuracy: 0.725
17
Mean accuracy: 0.575
18
Mean accuracy: 0.65
19
Mean accuracy: 0.7
20
Mean accuracy: 0.675
21
Mean accuracy: 0.7
22
Mean accuracy: 0.6
23
Mean accuracy: 0.75
24
Mean accuracy: 0.675
25
Mean accuracy: 0.725
26
Mean accuracy: 0.775
27
Mean accuracy: 0.625
28
Mean accuracy: 0.7
29
Mean accuracy: 0.525
30
Mean accuracy: 0.675
31
Mean accuracy: 0.725
32
Mean accuracy: 0.575
33
Mean accuracy: 0.6
34
Mean accuracy: 0.7
35
Mean accuracy: 0.625
36
Mean accuracy: 0.725
37
Mean accuracy: 0.675
38
Mean accuracy: 0.675
39
Mean accuracy: 0.625
40
Mean accuracy: 0.775
41
Mean accuracy: 0.675
42
Mean accuracy: 0.625
43
Mean accuracy: 0.775
44
Mean accuracy: 0.625
45
Mean accuracy: 0.65
46
Mean accuracy: 0.6
47
Mean accuracy: 0.65
48
Mean accuracy: 0.725
49
Mean accuracy: 0.725
50
Mean accuracy: 0.675
51
Mean accuracy: 0.7
52
Mean accuracy: 0.6
53
Mean accuracy: 0.65
54
Mean accuracy: 0.7
55
Mean accuracy: 0.675
56
Mean accuracy: 0.7
57
Mean accuracy: 0.8
58
Mean accuracy: 0.775
59
Mean accuracy: 0.6
60
Mean accuracy: 0.6
61
Mean accuracy: 0.575
62
Mean accuracy: 0.65
63
Mean accuracy: 0.6
64
Mean accuracy: 0.75
65
Mean accuracy: 0.725
66
Mean accuracy: 0.825
67
Mean accuracy: 0.6
68
Mean accuracy: 0.7
69
Mean accuracy: 0.575
70
Mean accuracy: 0.8
71
Mean accuracy: 0.6
72
Mean accuracy: 0.55
73
Mean accuracy: 0.725
74
Mean accuracy: 0.775
75
Mean accuracy: 0.625
76
Mean accuracy: 0.825
77
Mean accuracy: 0.775
78
Mean accuracy: 0.625
79
Mean accuracy: 0.625
80
Mean accuracy: 0.675
81
Mean accuracy: 0.6
82
Mean accuracy: 0.625
83
Mean accuracy: 0.525
84
Mean accuracy: 0.675
85
Mean accuracy: 0.725
86
Mean accuracy: 0.65
87
Mean accuracy: 0.7
88
Mean accuracy: 0.6
89
Mean accuracy: 0.725
90
Mean accuracy: 0.75
91
Mean accuracy: 0.7
92
Mean accuracy: 0.65
93
Mean accuracy: 0.625
94
Mean accuracy: 0.75
95
Mean accuracy: 0.8
96
Mean accuracy: 0.7
97
Mean accuracy: 0.7
98
Mean accuracy: 0.675
99
Mean accuracy: 0.65
100
Mean accuracy: 0.7

In [12]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_HYS2vs3_Male_100RF.csv", index = False)

0.6762500000000002

## Top 250 NMI

In [13]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [14]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

(534, 251)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000234961.1,ENSG00000224650.2,ENSG00000170390.15,ENSG00000184432.9,ENSG00000152894.14,ENSG00000145390.11,ENSG00000222032.1,ENSG00000236901.6,ENSG00000243066.3,ENSG00000105497.7
0,2,25,146,212,35,57,36,669,48,1390,...,2,52,20,6801,319,4877,16,922,0,923
1,2,23,261,109,20,78,51,502,51,1177,...,1,46,103,5906,459,1932,16,1159,4,670

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.675
2
Mean accuracy: 0.7
3
Mean accuracy: 0.725
4
Mean accuracy: 0.75
5
Mean accuracy: 0.65
6
Mean accuracy: 0.675
7
Mean accuracy: 0.725
8
Mean accuracy: 0.6
9
Mean accuracy: 0.7
10
Mean accuracy: 0.6
11
Mean accuracy: 0.675
12
Mean accuracy: 0.75
13
Mean accuracy: 0.65
14
Mean accuracy: 0.625
15
Mean accuracy: 0.625
16
Mean accuracy: 0.625
17
Mean accuracy: 0.6
18
Mean accuracy: 0.65
19
Mean accuracy: 0.7
20
Mean accuracy: 0.65
21
Mean accuracy: 0.775
22
Mean accuracy: 0.725
23
Mean accuracy: 0.7
24
Mean accuracy: 0.625
25
Mean accuracy: 0.725
26
Mean accuracy: 0.725
27
Mean accuracy: 0.7
28
Mean accuracy: 0.75
29
Mean accuracy: 0.6
30
Mean accuracy: 0.675
31
Mean accuracy: 0.725
32
Mean accuracy: 0.575
33
Mean accuracy: 0.675
34
Mean accuracy: 0.675
35
Mean accuracy: 0.625
36
Mean accuracy: 0.65
37
Mean accuracy: 0.7
38
Mean accuracy: 0.725
39
Mean accuracy: 0.75
40
Mean accuracy: 0.7
41
Mean accuracy: 0.55
42
Mean accuracy: 0.575
43
Mean accuracy: 0.725
44
Mean accuracy: 0.475
45
Mean accuracy: 0.6
46
Mean accuracy: 0.525
47
Mean accuracy: 0.65
48
Mean accuracy: 0.725
49
Mean accuracy: 0.675
50
Mean accuracy: 0.6
51
Mean accuracy: 0.7
52
Mean accuracy: 0.55
53
Mean accuracy: 0.625
54
Mean accuracy: 0.7
55
Mean accuracy: 0.675
56
Mean accuracy: 0.65
57
Mean accuracy: 0.725
58
Mean accuracy: 0.75
59
Mean accuracy: 0.55
60
Mean accuracy: 0.625
61
Mean accuracy: 0.55
62
Mean accuracy: 0.675
63
Mean accuracy: 0.675
64
Mean accuracy: 0.825
65
Mean accuracy: 0.65
66
Mean accuracy: 0.825
67
Mean accuracy: 0.7
68
Mean accuracy: 0.725
69
Mean accuracy: 0.575
70
Mean accuracy: 0.75
71
Mean accuracy: 0.65
72
Mean accuracy: 0.675
73
Mean accuracy: 0.65
74
Mean accuracy: 0.7
75
Mean accuracy: 0.6
76
Mean accuracy: 0.725
77
Mean accuracy: 0.65
78
Mean accuracy: 0.55
79
Mean accuracy: 0.675
80
Mean accuracy: 0.65
81
Mean accuracy: 0.55
82
Mean accuracy: 0.7
83
Mean accuracy: 0.525
84
Mean accuracy: 0.625
85
Mean accuracy: 0.65
86
Mean accuracy: 0.7
87
Mean accuracy: 0.7
88
Mean accuracy: 0.55
89
Mean accuracy: 0.575
90
Mean accuracy: 0.775
91
Mean accuracy: 0.625
92
Mean accuracy: 0.8
93
Mean accuracy: 0.625
94
Mean accuracy: 0.725
95
Mean accuracy: 0.7
96
Mean accuracy: 0.725
97
Mean accuracy: 0.725
98
Mean accuracy: 0.75
99
Mean accuracy: 0.65
100
Mean accuracy: 0.65

In [16]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_HYS2vs3_Male_100RF.csv", index = False)

0.666

## Top 500 NMI

In [17]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [18]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

(534, 501)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000258820.5,ENSG00000173175.14,ENSG00000228037.1,ENSG00000254352.1,ENSG00000185344.13,ENSG00000261276.1,ENSG00000236039.2,ENSG00000252494.1,ENSG00000100003.17,ENSG00000143418.19
0,2,25,146,212,35,57,36,669,48,1390,...,25,1,48,20,3998,0,11,39,124,3883
1,2,23,261,109,20,78,51,502,51,1177,...,18,17,41,16,2650,3,17,24,80,3132

In [19]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.675
2
Mean accuracy: 0.6
3
Mean accuracy: 0.725
4
Mean accuracy: 0.725
5
Mean accuracy: 0.625
6
Mean accuracy: 0.675
7
Mean accuracy: 0.725
8
Mean accuracy: 0.625
9
Mean accuracy: 0.675
10
Mean accuracy: 0.65
11
Mean accuracy: 0.65
12
Mean accuracy: 0.7
13
Mean accuracy: 0.625
14
Mean accuracy: 0.55
15
Mean accuracy: 0.65
16
Mean accuracy: 0.625
17
Mean accuracy: 0.525
18
Mean accuracy: 0.6
19
Mean accuracy: 0.75
20
Mean accuracy: 0.65
21
Mean accuracy: 0.65
22
Mean accuracy: 0.5
23
Mean accuracy: 0.65
24
Mean accuracy: 0.6
25
Mean accuracy: 0.65
26
Mean accuracy: 0.7
27
Mean accuracy: 0.6
28
Mean accuracy: 0.75
29
Mean accuracy: 0.525
30
Mean accuracy: 0.6
31
Mean accuracy: 0.725
32
Mean accuracy: 0.55
33
Mean accuracy: 0.65
34
Mean accuracy: 0.675
35
Mean accuracy: 0.6
36
Mean accuracy: 0.625
37
Mean accuracy: 0.65
38
Mean accuracy: 0.775
39
Mean accuracy: 0.675
40
Mean accuracy: 0.7
41
Mean accuracy: 0.6
42
Mean accuracy: 0.525
43
Mean accuracy: 0.6
44
Mean accuracy: 0.6
45
Mean accuracy: 0.625
46
Mean accuracy: 0.525
47
Mean accuracy: 0.65
48
Mean accuracy: 0.5
49
Mean accuracy: 0.675
50
Mean accuracy: 0.7
51
Mean accuracy: 0.675
52
Mean accuracy: 0.5
53
Mean accuracy: 0.7
54
Mean accuracy: 0.675
55
Mean accuracy: 0.65
56
Mean accuracy: 0.675
57
Mean accuracy: 0.7
58
Mean accuracy: 0.725
59
Mean accuracy: 0.55
60
Mean accuracy: 0.625
61
Mean accuracy: 0.575
62
Mean accuracy: 0.675
63
Mean accuracy: 0.625
64
Mean accuracy: 0.8
65
Mean accuracy: 0.65
66
Mean accuracy: 0.7
67
Mean accuracy: 0.625
68
Mean accuracy: 0.675
69
Mean accuracy: 0.675
70
Mean accuracy: 0.775
71
Mean accuracy: 0.625
72
Mean accuracy: 0.65
73
Mean accuracy: 0.725
74
Mean accuracy: 0.725
75
Mean accuracy: 0.575
76
Mean accuracy: 0.825
77
Mean accuracy: 0.55
78
Mean accuracy: 0.6
79
Mean accuracy: 0.725
80
Mean accuracy: 0.7
81
Mean accuracy: 0.6
82
Mean accuracy: 0.7
83
Mean accuracy: 0.6
84
Mean accuracy: 0.675
85
Mean accuracy: 0.675
86
Mean accuracy: 0.65
87
Mean accuracy: 0.75
88
Mean accuracy: 0.575
89
Mean accuracy: 0.625
90
Mean accuracy: 0.675
91
Mean accuracy: 0.675
92
Mean accuracy: 0.725
93
Mean accuracy: 0.65
94
Mean accuracy: 0.675
95
Mean accuracy: 0.75
96
Mean accuracy: 0.725
97
Mean accuracy: 0.65
98
Mean accuracy: 0.725
99
Mean accuracy: 0.7
100
Mean accuracy: 0.725

In [20]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_HYS2vs3_Male_100RF.csv", index = False)

0.6535