# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3
df = pd.read_csv('CountData_HYS1vs2vs3_PD_withHYS_Male.csv')
df = df[df['HYS'] != 2]
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3
(241, 58782)

,HudAlphaID,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
3,5104_SL_0011,1,15,209,6,8,0,6,6,19,...,2,12,7,0,6,2,32,17,0,0
9,5104_SL_0029,1,1,55,2,0,0,0,0,0,...,0,0,3,0,0,0,10,0,0,0

In [3]:
df1 = df.drop(['HudAlphaID'], axis=1)
df1.head(2)

,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
3,1,15,209,6,8,0,6,6,19,7,...,2,12,7,0,6,2,32,17,0,0
9,1,1,55,2,0,0,0,0,0,0,...,0,0,3,0,0,0,10,0,0,0

## Top 50 NMI

In [4]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [5]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(241, 51)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000165119.20,ENSG00000215231.7,ENSG00000079739.16,ENSG00000139174.11,ENSG00000215251.3,ENSG00000120063.9,ENSG00000232422.1,ENSG00000118402.5,ENSG00000116688.16,ENSG00000173011.11
3,1,70,465,108,10,113,31,412,50,1179,...,18718,25,1360,353,996,7668,45,137,3070,2754
9,1,37,90,56,15,42,11,548,27,733,...,18068,0,971,296,937,10498,16,161,1817,2303

In [6]:
df['HYS'].value_counts()

1    218
3     23
Name: HYS, dtype: int64

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.725
2
Mean accuracy: 0.8
3
Mean accuracy: 0.75
4
Mean accuracy: 0.8
5
Mean accuracy: 0.8
6
Mean accuracy: 0.7
7
Mean accuracy: 0.825
8
Mean accuracy: 0.75
9
Mean accuracy: 0.775
10
Mean accuracy: 0.75
11
Mean accuracy: 0.775
12
Mean accuracy: 0.75
13
Mean accuracy: 0.725
14
Mean accuracy: 0.75
15
Mean accuracy: 0.725
16
Mean accuracy: 0.825
17
Mean accuracy: 0.8
18
Mean accuracy: 0.725
19
Mean accuracy: 0.8
20
Mean accuracy: 0.825
21
Mean accuracy: 0.725
22
Mean accuracy: 0.8
23
Mean accuracy: 0.825
24
Mean accuracy: 0.775
25
Mean accuracy: 0.725
26
Mean accuracy: 0.75
27
Mean accuracy: 0.825
28
Mean accuracy: 0.7
29
Mean accuracy: 0.7
30
Mean accuracy: 0.725
31
Mean accuracy: 0.775
32
Mean accuracy: 0.825
33
Mean accuracy: 0.675
34
Mean accuracy: 0.8
35
Mean accuracy: 0.7
36
Mean accuracy: 0.75
37
Mean accuracy: 0.675
38
Mean accuracy: 0.75
39
Mean accuracy: 0.75
40
Mean accuracy: 0.725
41
Mean accuracy: 0.725
42
Mean accuracy: 0.7
43
Mean accuracy: 0.775
44
Mean accuracy: 0.7
45
Mean accuracy: 0.725
46
Mean accuracy: 0.775
47
Mean accuracy: 0.775
48
Mean accuracy: 0.85
49
Mean accuracy: 0.75
50
Mean accuracy: 0.75
51
Mean accuracy: 0.75
52
Mean accuracy: 0.675
53
Mean accuracy: 0.775
54
Mean accuracy: 0.7
55
Mean accuracy: 0.7
56
Mean accuracy: 0.65
57
Mean accuracy: 0.8
58
Mean accuracy: 0.75
59
Mean accuracy: 0.775
60
Mean accuracy: 0.825
61
Mean accuracy: 0.75
62
Mean accuracy: 0.775
63
Mean accuracy: 0.725
64
Mean accuracy: 0.8
65
Mean accuracy: 0.65
66
Mean accuracy: 0.775
67
Mean accuracy: 0.775
68
Mean accuracy: 0.65
69
Mean accuracy: 0.7
70
Mean accuracy: 0.75
71
Mean accuracy: 0.75
72
Mean accuracy: 0.725
73
Mean accuracy: 0.8
74
Mean accuracy: 0.8
75
Mean accuracy: 0.725
76
Mean accuracy: 0.8
77
Mean accuracy: 0.775
78
Mean accuracy: 0.825
79
Mean accuracy: 0.75
80
Mean accuracy: 0.775
81
Mean accuracy: 0.85
82
Mean accuracy: 0.775
83
Mean accuracy: 0.8
84
Mean accuracy: 0.75
85
Mean accuracy: 0.7
86
Mean accuracy: 0.7
87
Mean accuracy: 0.725
88
Mean accuracy: 0.85
89
Mean accuracy: 0.75
90
Mean accuracy: 0.7
91
Mean accuracy: 0.725
92
Mean accuracy: 0.8
93
Mean accuracy: 0.775
94
Mean accuracy: 0.825
95
Mean accuracy: 0.675
96
Mean accuracy: 0.825
97
Mean accuracy: 0.85
98
Mean accuracy: 0.75
99
Mean accuracy: 0.7
100
Mean accuracy: 0.75

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_HYS1vs3_Male_100RF.csv", index = False)

0.7562499999999999

## Top 100 NMI

In [9]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [10]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

(241, 101)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000102383.13,ENSG00000174473.15,ENSG00000223621.1,ENSG00000135919.12,ENSG00000197728.11,ENSG00000259696.2,ENSG00000276819.1,ENSG00000273154.3,ENSG00000267376.1,ENSG00000156395.12
3,1,70,465,108,10,113,31,412,50,1179,...,60,106,58,112,2462,16,33,93,12,243
9,1,37,90,56,15,42,11,548,27,733,...,19,73,35,38,2765,1,18,54,11,90

In [11]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.725
2
Mean accuracy: 0.775
3
Mean accuracy: 0.75
4
Mean accuracy: 0.75
5
Mean accuracy: 0.625
6
Mean accuracy: 0.7
7
Mean accuracy: 0.725
8
Mean accuracy: 0.8
9
Mean accuracy: 0.775
10
Mean accuracy: 0.775
11
Mean accuracy: 0.775
12
Mean accuracy: 0.85
13
Mean accuracy: 0.775
14
Mean accuracy: 0.7
15
Mean accuracy: 0.675
16
Mean accuracy: 0.775
17
Mean accuracy: 0.775
18
Mean accuracy: 0.675
19
Mean accuracy: 0.75
20
Mean accuracy: 0.775
21
Mean accuracy: 0.775
22
Mean accuracy: 0.675
23
Mean accuracy: 0.775
24
Mean accuracy: 0.7
25
Mean accuracy: 0.7
26
Mean accuracy: 0.625
27
Mean accuracy: 0.75
28
Mean accuracy: 0.8
29
Mean accuracy: 0.65
30
Mean accuracy: 0.725
31
Mean accuracy: 0.825
32
Mean accuracy: 0.775
33
Mean accuracy: 0.725
34
Mean accuracy: 0.8
35
Mean accuracy: 0.7
36
Mean accuracy: 0.75
37
Mean accuracy: 0.675
38
Mean accuracy: 0.725
39
Mean accuracy: 0.7
40
Mean accuracy: 0.625
41
Mean accuracy: 0.775
42
Mean accuracy: 0.725
43
Mean accuracy: 0.75
44
Mean accuracy: 0.75
45
Mean accuracy: 0.725
46
Mean accuracy: 0.75
47
Mean accuracy: 0.7
48
Mean accuracy: 0.775
49
Mean accuracy: 0.775
50
Mean accuracy: 0.8
51
Mean accuracy: 0.75
52
Mean accuracy: 0.75
53
Mean accuracy: 0.8
54
Mean accuracy: 0.75
55
Mean accuracy: 0.725
56
Mean accuracy: 0.65
57
Mean accuracy: 0.75
58
Mean accuracy: 0.675
59
Mean accuracy: 0.725
60
Mean accuracy: 0.75
61
Mean accuracy: 0.725
62
Mean accuracy: 0.7
63
Mean accuracy: 0.725
64
Mean accuracy: 0.725
65
Mean accuracy: 0.625
66
Mean accuracy: 0.725
67
Mean accuracy: 0.7
68
Mean accuracy: 0.775
69
Mean accuracy: 0.7
70
Mean accuracy: 0.7
71
Mean accuracy: 0.725
72
Mean accuracy: 0.7
73
Mean accuracy: 0.8
74
Mean accuracy: 0.8
75
Mean accuracy: 0.725
76
Mean accuracy: 0.775
77
Mean accuracy: 0.75
78
Mean accuracy: 0.875
79
Mean accuracy: 0.65
80
Mean accuracy: 0.8
81
Mean accuracy: 0.8
82
Mean accuracy: 0.65
83
Mean accuracy: 0.85
84
Mean accuracy: 0.725
85
Mean accuracy: 0.625
86
Mean accuracy: 0.675
87
Mean accuracy: 0.7
88
Mean accuracy: 0.775
89
Mean accuracy: 0.75
90
Mean accuracy: 0.725
91
Mean accuracy: 0.85
92
Mean accuracy: 0.825
93
Mean accuracy: 0.75
94
Mean accuracy: 0.75
95
Mean accuracy: 0.65
96
Mean accuracy: 0.7
97
Mean accuracy: 0.75
98
Mean accuracy: 0.75
99
Mean accuracy: 0.725
100
Mean accuracy: 0.7

In [12]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_HYS1vs3_Male_100RF.csv", index = False)

0.7367500000000001

## Top 250 NMI

In [13]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [14]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

(241, 251)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000234961.1,ENSG00000224650.2,ENSG00000170390.15,ENSG00000184432.9,ENSG00000152894.14,ENSG00000145390.11,ENSG00000222032.1,ENSG00000236901.6,ENSG00000243066.3,ENSG00000105497.7
3,1,70,465,108,10,113,31,412,50,1179,...,7,36,137,4704,353,1862,16,920,13,638
9,1,37,90,56,15,42,11,548,27,733,...,2,25,8,4500,279,2178,12,422,1,520

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.8
3
Mean accuracy: 0.75
4
Mean accuracy: 0.725
5
Mean accuracy: 0.6
6
Mean accuracy: 0.75
7
Mean accuracy: 0.675
8
Mean accuracy: 0.775
9
Mean accuracy: 0.725
10
Mean accuracy: 0.775
11
Mean accuracy: 0.75
12
Mean accuracy: 0.75
13
Mean accuracy: 0.675
14
Mean accuracy: 0.7
15
Mean accuracy: 0.7
16
Mean accuracy: 0.725
17
Mean accuracy: 0.725
18
Mean accuracy: 0.725
19
Mean accuracy: 0.775
20
Mean accuracy: 0.775
21
Mean accuracy: 0.675
22
Mean accuracy: 0.65
23
Mean accuracy: 0.8
24
Mean accuracy: 0.675
25
Mean accuracy: 0.7
26
Mean accuracy: 0.7
27
Mean accuracy: 0.75
28
Mean accuracy: 0.7
29
Mean accuracy: 0.65
30
Mean accuracy: 0.775
31
Mean accuracy: 0.7
32
Mean accuracy: 0.75
33
Mean accuracy: 0.75
34
Mean accuracy: 0.725
35
Mean accuracy: 0.65
36
Mean accuracy: 0.675
37
Mean accuracy: 0.6
38
Mean accuracy: 0.7
39
Mean accuracy: 0.65
40
Mean accuracy: 0.65
41
Mean accuracy: 0.775
42
Mean accuracy: 0.75
43
Mean accuracy: 0.7
44
Mean accuracy: 0.7
45
Mean accuracy: 0.75
46
Mean accuracy: 0.75
47
Mean accuracy: 0.675
48
Mean accuracy: 0.725
49
Mean accuracy: 0.8
50
Mean accuracy: 0.725
51
Mean accuracy: 0.75
52
Mean accuracy: 0.65
53
Mean accuracy: 0.775
54
Mean accuracy: 0.675
55
Mean accuracy: 0.725
56
Mean accuracy: 0.675
57
Mean accuracy: 0.7
58
Mean accuracy: 0.65
59
Mean accuracy: 0.7
60
Mean accuracy: 0.75
61
Mean accuracy: 0.675
62
Mean accuracy: 0.725
63
Mean accuracy: 0.75
64
Mean accuracy: 0.75
65
Mean accuracy: 0.65
66
Mean accuracy: 0.725
67
Mean accuracy: 0.7
68
Mean accuracy: 0.675
69
Mean accuracy: 0.725
70
Mean accuracy: 0.7
71
Mean accuracy: 0.65
72
Mean accuracy: 0.675
73
Mean accuracy: 0.775
74
Mean accuracy: 0.7
75
Mean accuracy: 0.675
76
Mean accuracy: 0.775
77
Mean accuracy: 0.775
78
Mean accuracy: 0.75
79
Mean accuracy: 0.65
80
Mean accuracy: 0.75
81
Mean accuracy: 0.725
82
Mean accuracy: 0.75
83
Mean accuracy: 0.8
84
Mean accuracy: 0.75
85
Mean accuracy: 0.675
86
Mean accuracy: 0.725
87
Mean accuracy: 0.7
88
Mean accuracy: 0.775
89
Mean accuracy: 0.7
90
Mean accuracy: 0.775
91
Mean accuracy: 0.775
92
Mean accuracy: 0.8
93
Mean accuracy: 0.775
94
Mean accuracy: 0.725
95
Mean accuracy: 0.7
96
Mean accuracy: 0.825
97
Mean accuracy: 0.7
98
Mean accuracy: 0.775
99
Mean accuracy: 0.675
100
Mean accuracy: 0.825

In [16]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_HYS1vs3_Male_100RF.csv", index = False)

0.721

## Top 500 NMI

In [17]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs3_PD_Male.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

0                  HYS
1    ENSG00000181585.4
Name: Geneid, dtype: object

In [18]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

(241, 501)

,HYS,ENSG00000181585.4,ENSG00000075275.16,ENSG00000278962.1,ENSG00000259336.1,ENSG00000255495.1,ENSG00000237638.1,ENSG00000229320.3,ENSG00000185522.8,ENSG00000204231.10,...,ENSG00000258820.5,ENSG00000173175.14,ENSG00000228037.1,ENSG00000254352.1,ENSG00000185344.13,ENSG00000261276.1,ENSG00000236039.2,ENSG00000252494.1,ENSG00000100003.17,ENSG00000143418.19
3,1,70,465,108,10,113,31,412,50,1179,...,33,185,28,22,2479,11,52,20,118,3117
9,1,37,90,56,15,42,11,548,27,733,...,21,4,36,26,2196,0,17,25,54,2155

In [19]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('HYS').apply(lambda x: x.sample(20))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.675
2
Mean accuracy: 0.7
3
Mean accuracy: 0.6
4
Mean accuracy: 0.675
5
Mean accuracy: 0.65
6
Mean accuracy: 0.625
7
Mean accuracy: 0.625
8
Mean accuracy: 0.65
9
Mean accuracy: 0.675
10
Mean accuracy: 0.775
11
Mean accuracy: 0.7
12
Mean accuracy: 0.675
13
Mean accuracy: 0.675
14
Mean accuracy: 0.725
15
Mean accuracy: 0.675
16
Mean accuracy: 0.725
17
Mean accuracy: 0.75
18
Mean accuracy: 0.6
19
Mean accuracy: 0.675
20
Mean accuracy: 0.725
21
Mean accuracy: 0.7
22
Mean accuracy: 0.5
23
Mean accuracy: 0.775
24
Mean accuracy: 0.775
25
Mean accuracy: 0.7
26
Mean accuracy: 0.65
27
Mean accuracy: 0.725
28
Mean accuracy: 0.575
29
Mean accuracy: 0.65
30
Mean accuracy: 0.6
31
Mean accuracy: 0.675
32
Mean accuracy: 0.775
33
Mean accuracy: 0.625
34
Mean accuracy: 0.725
35
Mean accuracy: 0.6
36
Mean accuracy: 0.725
37
Mean accuracy: 0.65
38
Mean accuracy: 0.7
39
Mean accuracy: 0.7
40
Mean accuracy: 0.575
41
Mean accuracy: 0.775
42
Mean accuracy: 0.75
43
Mean accuracy: 0.725
44
Mean accuracy: 0.725
45
Mean accuracy: 0.725
46
Mean accuracy: 0.7
47
Mean accuracy: 0.65
48
Mean accuracy: 0.675
49
Mean accuracy: 0.7
50
Mean accuracy: 0.7
51
Mean accuracy: 0.675
52
Mean accuracy: 0.7
53
Mean accuracy: 0.7
54
Mean accuracy: 0.675
55
Mean accuracy: 0.7
56
Mean accuracy: 0.7
57
Mean accuracy: 0.7
58
Mean accuracy: 0.675
59
Mean accuracy: 0.725
60
Mean accuracy: 0.725
61
Mean accuracy: 0.675
62
Mean accuracy: 0.75
63
Mean accuracy: 0.775
64
Mean accuracy: 0.725
65
Mean accuracy: 0.7
66
Mean accuracy: 0.675
67
Mean accuracy: 0.65
68
Mean accuracy: 0.7
69
Mean accuracy: 0.7
70
Mean accuracy: 0.725
71
Mean accuracy: 0.65
72
Mean accuracy: 0.7
73
Mean accuracy: 0.725
74
Mean accuracy: 0.625
75
Mean accuracy: 0.675
76
Mean accuracy: 0.65
77
Mean accuracy: 0.725
78
Mean accuracy: 0.675
79
Mean accuracy: 0.7
80
Mean accuracy: 0.775
81
Mean accuracy: 0.75
82
Mean accuracy: 0.65
83
Mean accuracy: 0.775
84
Mean accuracy: 0.7
85
Mean accuracy: 0.65
86
Mean accuracy: 0.7
87
Mean accuracy: 0.65
88
Mean accuracy: 0.775
89
Mean accuracy: 0.75
90
Mean accuracy: 0.725
91
Mean accuracy: 0.775
92
Mean accuracy: 0.775
93
Mean accuracy: 0.725
94
Mean accuracy: 0.75
95
Mean accuracy: 0.65
96
Mean accuracy: 0.725
97
Mean accuracy: 0.675
98
Mean accuracy: 0.725
99
Mean accuracy: 0.675
100
Mean accuracy: 0.7

In [20]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_HYS1vs3_Male_100RF.csv", index = False)

0.6935000000000001