# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Female\HYS_1vs2vs3
df = pd.read_csv('CountData_HYS1vs2vs3_PD_withHYS_Female.csv')
df = df[df['HYS'] != 3]
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Female\HYS_1vs2vs3
(183, 58782)

,HudAlphaID,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,5104_SL_0108,1,15,78,12,5,0,6,3,7,...,0,7,26,4,1,3,22,17,0,0
1,5104_SL_0135,2,6,128,19,3,0,3,0,2,...,0,8,30,58,0,2,14,1,0,0

In [3]:
df1 = df.drop(['HudAlphaID'], axis=1)
df1.head(2)

,HYS,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,...,ENSG00000273739.1,ENSG00000276700.1,ENSG00000276312.1,ENSG00000275757.1,ENSG00000278573.1,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1
0,1,15,78,12,5,0,6,3,7,2,...,0,7,26,4,1,3,22,17,0,0
1,2,6,128,19,3,0,3,0,2,0,...,0,8,30,58,0,2,14,1,0,0

## Top 50 NMI

In [4]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Female.csv')
df2_sub = df2['Geneid'].iloc[:51]
df2_sub.head(2)

0                  HYS
1    ENSG00000225030.1
Name: Geneid, dtype: object

In [5]:
df_50 = df1[df2_sub]
print(df_50.shape)
df_50.head(2)

(183, 51)

,HYS,ENSG00000225030.1,ENSG00000239872.1,ENSG00000197444.9,ENSG00000285509.1,ENSG00000276945.1,ENSG00000260230.3,ENSG00000260461.1,ENSG00000182704.7,ENSG00000255102.1,...,ENSG00000227066.1,ENSG00000177558.3,ENSG00000214530.9,ENSG00000207056.1,ENSG00000261033.1,ENSG00000255010.1,ENSG00000233706.1,ENSG00000274600.1,ENSG00000266875.2,ENSG00000273554.4
0,1,5,7,125,17,6,104,94,74,4,...,39,9,90,5,18,7,9,16,3,73
1,2,6,1,52,16,1,55,80,21,8,...,5,4,124,2,9,0,3,11,2,16

In [6]:
df['HYS'].value_counts()

2    113
1     70
Name: HYS, dtype: int64

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_50.groupby('HYS').apply(lambda x: x.sample(30))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5833333333333333
2
Mean accuracy: 0.5333333333333332
3
Mean accuracy: 0.7
4
Mean accuracy: 0.6833333333333333
5
Mean accuracy: 0.6833333333333333
6
Mean accuracy: 0.6833333333333333
7
Mean accuracy: 0.6166666666666667
8
Mean accuracy: 0.5666666666666667
9
Mean accuracy: 0.7166666666666667
10
Mean accuracy: 0.6166666666666667
11
Mean accuracy: 0.6666666666666667
12
Mean accuracy: 0.7666666666666666
13
Mean accuracy: 0.6333333333333334
14
Mean accuracy: 0.5833333333333333
15
Mean accuracy: 0.5666666666666667
16
Mean accuracy: 0.7000000000000001
17
Mean accuracy: 0.7500000000000001
18
Mean accuracy: 0.65
19
Mean accuracy: 0.7
20
Mean accuracy: 0.6333333333333334
21
Mean accuracy: 0.6333333333333334
22
Mean accuracy: 0.7666666666666667
23
Mean accuracy: 0.7333333333333333
24
Mean accuracy: 0.7
25
Mean accuracy: 0.7333333333333334
26
Mean accuracy: 0.4
27
Mean accuracy: 0.7499999999999999
28
Mean accuracy: 0.8
29
Mean accuracy: 0.5833333333333333
30
Mean accuracy: 0.5833333333333333
31
Mean accuracy: 0.7666666666666666
32
Mean accuracy: 0.7333333333333332
33
Mean accuracy: 0.6666666666666666
34
Mean accuracy: 0.7166666666666666
35
Mean accuracy: 0.7166666666666667
36
Mean accuracy: 0.7666666666666666
37
Mean accuracy: 0.6166666666666667
38
Mean accuracy: 0.6
39
Mean accuracy: 0.6500000000000001
40
Mean accuracy: 0.7000000000000001
41
Mean accuracy: 0.7
42
Mean accuracy: 0.65
43
Mean accuracy: 0.6333333333333333
44
Mean accuracy: 0.7
45
Mean accuracy: 0.7166666666666667
46
Mean accuracy: 0.6166666666666667
47
Mean accuracy: 0.5833333333333333
48
Mean accuracy: 0.6833333333333333
49
Mean accuracy: 0.6666666666666667
50
Mean accuracy: 0.7333333333333333
51
Mean accuracy: 0.6833333333333333
52
Mean accuracy: 0.6166666666666667
53
Mean accuracy: 0.6500000000000001
54
Mean accuracy: 0.6666666666666666
55
Mean accuracy: 0.7
56
Mean accuracy: 0.8
57
Mean accuracy: 0.6
58
Mean accuracy: 0.7333333333333333
59
Mean accuracy: 0.6
60
Mean accuracy: 0.6833333333333333
61
Mean accuracy: 0.6666666666666667
62
Mean accuracy: 0.7000000000000001
63
Mean accuracy: 0.6333333333333333
64
Mean accuracy: 0.6666666666666666
65
Mean accuracy: 0.6333333333333332
66
Mean accuracy: 0.6166666666666666
67
Mean accuracy: 0.65
68
Mean accuracy: 0.6333333333333333
69
Mean accuracy: 0.7500000000000001
70
Mean accuracy: 0.7333333333333332
71
Mean accuracy: 0.7666666666666667
72
Mean accuracy: 0.7333333333333333
73
Mean accuracy: 0.6166666666666666
74
Mean accuracy: 0.6833333333333333
75
Mean accuracy: 0.6333333333333333
76
Mean accuracy: 0.6
77
Mean accuracy: 0.7166666666666667
78
Mean accuracy: 0.6166666666666667
79
Mean accuracy: 0.6333333333333334
80
Mean accuracy: 0.7333333333333334
81
Mean accuracy: 0.6500000000000001
82
Mean accuracy: 0.6500000000000001
83
Mean accuracy: 0.6333333333333334
84
Mean accuracy: 0.7166666666666667
85
Mean accuracy: 0.6333333333333334
86
Mean accuracy: 0.7666666666666666
87
Mean accuracy: 0.6833333333333333
88
Mean accuracy: 0.7
89
Mean accuracy: 0.7333333333333333
90
Mean accuracy: 0.6833333333333333
91
Mean accuracy: 0.6499999999999999
92
Mean accuracy: 0.7
93
Mean accuracy: 0.6166666666666666
94
Mean accuracy: 0.6333333333333334
95
Mean accuracy: 0.6833333333333333
96
Mean accuracy: 0.6
97
Mean accuracy: 0.7333333333333332
98
Mean accuracy: 0.7166666666666667
99
Mean accuracy: 0.7
100
Mean accuracy: 0.4166666666666667

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI50_HYS1vs2_Female_100RF.csv", index = False)

0.6678333333333332

## Top 100 NMI

In [9]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Female.csv')
df2_sub = df2['Geneid'].iloc[:101]
df2_sub.head(2)

0                  HYS
1    ENSG00000225030.1
Name: Geneid, dtype: object

In [10]:
df_100 = df1[df2_sub]
print(df_100.shape)
df_100.head(2)

(183, 101)

,HYS,ENSG00000225030.1,ENSG00000239872.1,ENSG00000197444.9,ENSG00000285509.1,ENSG00000276945.1,ENSG00000260230.3,ENSG00000260461.1,ENSG00000182704.7,ENSG00000255102.1,...,ENSG00000116128.10,ENSG00000104731.13,ENSG00000251600.6,ENSG00000258927.1,ENSG00000272247.1,ENSG00000273151.1,ENSG00000141404.15,ENSG00000055813.5,ENSG00000223784.2,ENSG00000283611.2
0,1,5,7,125,17,6,104,94,74,4,...,186,981,156,34,11,139,128,16,24,3
1,2,6,1,52,16,1,55,80,21,8,...,149,1127,91,10,4,134,60,19,15,4

In [11]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_100.groupby('HYS').apply(lambda x: x.sample(30))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5333333333333334
2
Mean accuracy: 0.6333333333333334
3
Mean accuracy: 0.7666666666666666
4
Mean accuracy: 0.65
5
Mean accuracy: 0.7666666666666667
6
Mean accuracy: 0.6333333333333333
7
Mean accuracy: 0.6333333333333334
8
Mean accuracy: 0.65
9
Mean accuracy: 0.6833333333333333
10
Mean accuracy: 0.6333333333333333
11
Mean accuracy: 0.6833333333333333
12
Mean accuracy: 0.7333333333333333
13
Mean accuracy: 0.6500000000000001
14
Mean accuracy: 0.6666666666666667
15
Mean accuracy: 0.5333333333333333
16
Mean accuracy: 0.7
17
Mean accuracy: 0.6666666666666667
18
Mean accuracy: 0.7
19
Mean accuracy: 0.7
20
Mean accuracy: 0.6500000000000001
21
Mean accuracy: 0.5333333333333333
22
Mean accuracy: 0.6833333333333333
23
Mean accuracy: 0.6333333333333333
24
Mean accuracy: 0.5833333333333333
25
Mean accuracy: 0.7
26
Mean accuracy: 0.5666666666666667
27
Mean accuracy: 0.6666666666666667
28
Mean accuracy: 0.8
29
Mean accuracy: 0.5666666666666667
30
Mean accuracy: 0.6333333333333334
31
Mean accuracy: 0.7166666666666667
32
Mean accuracy: 0.7166666666666667
33
Mean accuracy: 0.6333333333333332
34
Mean accuracy: 0.6666666666666666
35
Mean accuracy: 0.7333333333333334
36
Mean accuracy: 0.7333333333333333
37
Mean accuracy: 0.65
38
Mean accuracy: 0.65
39
Mean accuracy: 0.7166666666666666
40
Mean accuracy: 0.7833333333333334
41
Mean accuracy: 0.6833333333333333
42
Mean accuracy: 0.5999999999999999
43
Mean accuracy: 0.6333333333333334
44
Mean accuracy: 0.6833333333333333
45
Mean accuracy: 0.75
46
Mean accuracy: 0.6333333333333334
47
Mean accuracy: 0.6333333333333333
48
Mean accuracy: 0.65
49
Mean accuracy: 0.6166666666666666
50
Mean accuracy: 0.5666666666666667
51
Mean accuracy: 0.5666666666666667
52
Mean accuracy: 0.6666666666666666
53
Mean accuracy: 0.65
54
Mean accuracy: 0.6666666666666666
55
Mean accuracy: 0.6166666666666667
56
Mean accuracy: 0.7666666666666666
57
Mean accuracy: 0.6666666666666666
58
Mean accuracy: 0.75
59
Mean accuracy: 0.6833333333333333
60
Mean accuracy: 0.6833333333333333
61
Mean accuracy: 0.6833333333333333
62
Mean accuracy: 0.6833333333333333
63
Mean accuracy: 0.6666666666666666
64
Mean accuracy: 0.6666666666666666
65
Mean accuracy: 0.7
66
Mean accuracy: 0.6833333333333333
67
Mean accuracy: 0.7
68
Mean accuracy: 0.6333333333333333
69
Mean accuracy: 0.6333333333333333
70
Mean accuracy: 0.6833333333333333
71
Mean accuracy: 0.6833333333333333
72
Mean accuracy: 0.7500000000000001
73
Mean accuracy: 0.7
74
Mean accuracy: 0.7000000000000001
75
Mean accuracy: 0.7
76
Mean accuracy: 0.6666666666666667
77
Mean accuracy: 0.6833333333333333
78
Mean accuracy: 0.65
79
Mean accuracy: 0.7166666666666666
80
Mean accuracy: 0.6666666666666667
81
Mean accuracy: 0.6666666666666666
82
Mean accuracy: 0.7499999999999999
83
Mean accuracy: 0.6166666666666667
84
Mean accuracy: 0.7
85
Mean accuracy: 0.55
86
Mean accuracy: 0.7666666666666666
87
Mean accuracy: 0.6333333333333333
88
Mean accuracy: 0.7
89
Mean accuracy: 0.65
90
Mean accuracy: 0.6666666666666667
91
Mean accuracy: 0.6333333333333333
92
Mean accuracy: 0.7166666666666666
93
Mean accuracy: 0.65
94
Mean accuracy: 0.6166666666666667
95
Mean accuracy: 0.6333333333333333
96
Mean accuracy: 0.6000000000000001
97
Mean accuracy: 0.7833333333333332
98
Mean accuracy: 0.7166666666666667
99
Mean accuracy: 0.7166666666666667
100
Mean accuracy: 0.5833333333333333

In [12]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI100_HYS1vs2_Female_100RF.csv", index = False)

0.6679999999999997

## Top 250 NMI

In [13]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Female.csv')
df2_sub = df2['Geneid'].iloc[:251]
df2_sub.head(2)

0                  HYS
1    ENSG00000225030.1
Name: Geneid, dtype: object

In [14]:
df_250 = df1[df2_sub]
print(df_250.shape)
df_250.head(2)

(183, 251)

,HYS,ENSG00000225030.1,ENSG00000239872.1,ENSG00000197444.9,ENSG00000285509.1,ENSG00000276945.1,ENSG00000260230.3,ENSG00000260461.1,ENSG00000182704.7,ENSG00000255102.1,...,ENSG00000227406.1,ENSG00000105072.8,ENSG00000224426.1,ENSG00000267773.1,ENSG00000241220.1,ENSG00000170324.20,ENSG00000168000.14,ENSG00000164972.12,ENSG00000182896.12,ENSG00000257758.1
0,1,5,7,125,17,6,104,94,74,4,...,19,51,3,6,11,138,91,19,7,9
1,2,6,1,52,16,1,55,80,21,8,...,6,44,4,3,5,26,75,15,8,5

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_250.groupby('HYS').apply(lambda x: x.sample(30))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6
2
Mean accuracy: 0.6166666666666667
3
Mean accuracy: 0.7333333333333332
4
Mean accuracy: 0.7
5
Mean accuracy: 0.7166666666666667
6
Mean accuracy: 0.7
7
Mean accuracy: 0.6666666666666667
8
Mean accuracy: 0.6833333333333333
9
Mean accuracy: 0.6833333333333333
10
Mean accuracy: 0.6166666666666666
11
Mean accuracy: 0.6
12
Mean accuracy: 0.7666666666666666
13
Mean accuracy: 0.6833333333333333
14
Mean accuracy: 0.5
15
Mean accuracy: 0.5333333333333333
16
Mean accuracy: 0.6333333333333333
17
Mean accuracy: 0.6833333333333333
18
Mean accuracy: 0.6333333333333334
19
Mean accuracy: 0.6333333333333334
20
Mean accuracy: 0.6
21
Mean accuracy: 0.6499999999999999
22
Mean accuracy: 0.6666666666666667
23
Mean accuracy: 0.7
24
Mean accuracy: 0.6833333333333333
25
Mean accuracy: 0.7
26
Mean accuracy: 0.5
27
Mean accuracy: 0.6499999999999999
28
Mean accuracy: 0.6166666666666667
29
Mean accuracy: 0.5
30
Mean accuracy: 0.5999999999999999
31
Mean accuracy: 0.75
32
Mean accuracy: 0.7166666666666666
33
Mean accuracy: 0.6
34
Mean accuracy: 0.6333333333333334
35
Mean accuracy: 0.6833333333333333
36
Mean accuracy: 0.6666666666666667
37
Mean accuracy: 0.5833333333333333
38
Mean accuracy: 0.7
39
Mean accuracy: 0.5999999999999999
40
Mean accuracy: 0.6833333333333333
41
Mean accuracy: 0.6666666666666667
42
Mean accuracy: 0.6500000000000001
43
Mean accuracy: 0.6666666666666667
44
Mean accuracy: 0.7166666666666667
45
Mean accuracy: 0.7
46
Mean accuracy: 0.6333333333333334
47
Mean accuracy: 0.7333333333333333
48
Mean accuracy: 0.6333333333333334
49
Mean accuracy: 0.6500000000000001
50
Mean accuracy: 0.4833333333333332
51
Mean accuracy: 0.6666666666666666
52
Mean accuracy: 0.5666666666666667
53
Mean accuracy: 0.5833333333333333
54
Mean accuracy: 0.5666666666666667
55
Mean accuracy: 0.6166666666666667
56
Mean accuracy: 0.75
57
Mean accuracy: 0.5999999999999999
58
Mean accuracy: 0.6500000000000001
59
Mean accuracy: 0.6333333333333333
60
Mean accuracy: 0.6833333333333333
61
Mean accuracy: 0.6833333333333333
62
Mean accuracy: 0.6166666666666666
63
Mean accuracy: 0.5833333333333333
64
Mean accuracy: 0.6666666666666667
65
Mean accuracy: 0.6499999999999999
66
Mean accuracy: 0.65
67
Mean accuracy: 0.6166666666666667
68
Mean accuracy: 0.6499999999999999
69
Mean accuracy: 0.65
70
Mean accuracy: 0.6166666666666666
71
Mean accuracy: 0.6833333333333333
72
Mean accuracy: 0.7333333333333334
73
Mean accuracy: 0.6666666666666667
74
Mean accuracy: 0.6333333333333334
75
Mean accuracy: 0.65
76
Mean accuracy: 0.6833333333333333
77
Mean accuracy: 0.6666666666666667
78
Mean accuracy: 0.5833333333333333
79
Mean accuracy: 0.6666666666666667
80
Mean accuracy: 0.6166666666666667
81
Mean accuracy: 0.7166666666666667
82
Mean accuracy: 0.7166666666666666
83
Mean accuracy: 0.6166666666666668
84
Mean accuracy: 0.7166666666666667
85
Mean accuracy: 0.5833333333333334
86
Mean accuracy: 0.7166666666666666
87
Mean accuracy: 0.55
88
Mean accuracy: 0.7166666666666666
89
Mean accuracy: 0.6833333333333333
90
Mean accuracy: 0.5833333333333333
91
Mean accuracy: 0.6666666666666666
92
Mean accuracy: 0.6333333333333333
93
Mean accuracy: 0.6166666666666667
94
Mean accuracy: 0.6666666666666667
95
Mean accuracy: 0.6166666666666666
96
Mean accuracy: 0.6166666666666666
97
Mean accuracy: 0.6833333333333332
98
Mean accuracy: 0.7333333333333334
99
Mean accuracy: 0.6333333333333334
100
Mean accuracy: 0.65

In [16]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI250_HYS1vs2_Female_100RF.csv", index = False)

0.6479999999999998

## Top 500 NMI

In [17]:
df2 = pd.read_csv('NMI_AllCounts_HYS1vs2_PD_Female.csv')
df2_sub = df2['Geneid'].iloc[:501]
df2_sub.head(2)

0                  HYS
1    ENSG00000225030.1
Name: Geneid, dtype: object

In [18]:
df_500 = df1[df2_sub]
print(df_500.shape)
df_500.head(2)

(183, 501)

,HYS,ENSG00000225030.1,ENSG00000239872.1,ENSG00000197444.9,ENSG00000285509.1,ENSG00000276945.1,ENSG00000260230.3,ENSG00000260461.1,ENSG00000182704.7,ENSG00000255102.1,...,ENSG00000149654.9,ENSG00000106819.11,ENSG00000167695.14,ENSG00000119125.16,ENSG00000225684.3,ENSG00000236554.1,ENSG00000237799.2,ENSG00000275305.1,ENSG00000206192.7,ENSG00000179523.4
0,1,5,7,125,17,6,104,94,74,4,...,77,19,23,49,16,5,19,23,35,282
1,2,6,1,52,16,1,55,80,21,8,...,30,2,14,37,8,4,4,13,15,194

In [19]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df_500.groupby('HYS').apply(lambda x: x.sample(30))
    X = df2.drop('HYS', axis = 1)
    y = df2['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6000000000000001
2
Mean accuracy: 0.6
3
Mean accuracy: 0.7166666666666666
4
Mean accuracy: 0.55
5
Mean accuracy: 0.7
6
Mean accuracy: 0.7
7
Mean accuracy: 0.6166666666666667
8
Mean accuracy: 0.6166666666666667
9
Mean accuracy: 0.6666666666666667
10
Mean accuracy: 0.5666666666666667
11
Mean accuracy: 0.5666666666666667
12
Mean accuracy: 0.7000000000000001
13
Mean accuracy: 0.6333333333333333
14
Mean accuracy: 0.5333333333333333
15
Mean accuracy: 0.5166666666666667
16
Mean accuracy: 0.6499999999999999
17
Mean accuracy: 0.65
18
Mean accuracy: 0.5666666666666667
19
Mean accuracy: 0.7333333333333334
20
Mean accuracy: 0.55
21
Mean accuracy: 0.4666666666666666
22
Mean accuracy: 0.7333333333333333
23
Mean accuracy: 0.6666666666666666
24
Mean accuracy: 0.6666666666666666
25
Mean accuracy: 0.6833333333333333
26
Mean accuracy: 0.5333333333333334
27
Mean accuracy: 0.6166666666666667
28
Mean accuracy: 0.6499999999999999
29
Mean accuracy: 0.5
30
Mean accuracy: 0.5166666666666667
31
Mean accuracy: 0.6833333333333333
32
Mean accuracy: 0.7
33
Mean accuracy: 0.5833333333333333
34
Mean accuracy: 0.6166666666666666
35
Mean accuracy: 0.65
36
Mean accuracy: 0.6666666666666667
37
Mean accuracy: 0.6333333333333334
38
Mean accuracy: 0.6499999999999999
39
Mean accuracy: 0.6833333333333333
40
Mean accuracy: 0.7333333333333333
41
Mean accuracy: 0.6833333333333333
42
Mean accuracy: 0.6
43
Mean accuracy: 0.6666666666666666
44
Mean accuracy: 0.7
45
Mean accuracy: 0.6833333333333332
46
Mean accuracy: 0.6166666666666668
47
Mean accuracy: 0.6833333333333333
48
Mean accuracy: 0.5833333333333334
49
Mean accuracy: 0.7
50
Mean accuracy: 0.5166666666666667
51
Mean accuracy: 0.6666666666666667
52
Mean accuracy: 0.6666666666666666
53
Mean accuracy: 0.6666666666666667
54
Mean accuracy: 0.6166666666666666
55
Mean accuracy: 0.5833333333333333
56
Mean accuracy: 0.6833333333333333
57
Mean accuracy: 0.6833333333333333
58
Mean accuracy: 0.6666666666666666
59
Mean accuracy: 0.6499999999999999
60
Mean accuracy: 0.7
61
Mean accuracy: 0.6500000000000001
62
Mean accuracy: 0.5999999999999999
63
Mean accuracy: 0.5833333333333333
64
Mean accuracy: 0.6333333333333333
65
Mean accuracy: 0.7
66
Mean accuracy: 0.6166666666666667
67
Mean accuracy: 0.6
68
Mean accuracy: 0.65
69
Mean accuracy: 0.6499999999999999
70
Mean accuracy: 0.6166666666666666
71
Mean accuracy: 0.6833333333333333
72
Mean accuracy: 0.7
73
Mean accuracy: 0.7
74
Mean accuracy: 0.7
75
Mean accuracy: 0.6166666666666666
76
Mean accuracy: 0.6333333333333333
77
Mean accuracy: 0.6499999999999999
78
Mean accuracy: 0.6166666666666666
79
Mean accuracy: 0.6166666666666666
80
Mean accuracy: 0.6333333333333333
81
Mean accuracy: 0.7
82
Mean accuracy: 0.65
83
Mean accuracy: 0.5166666666666666
84
Mean accuracy: 0.7
85
Mean accuracy: 0.55
86
Mean accuracy: 0.7
87
Mean accuracy: 0.5666666666666668
88
Mean accuracy: 0.6666666666666667
89
Mean accuracy: 0.7
90
Mean accuracy: 0.6166666666666667
91
Mean accuracy: 0.5333333333333333
92
Mean accuracy: 0.7
93
Mean accuracy: 0.6166666666666667
94
Mean accuracy: 0.6
95
Mean accuracy: 0.6
96
Mean accuracy: 0.5666666666666667
97
Mean accuracy: 0.6666666666666666
98
Mean accuracy: 0.7166666666666666
99
Mean accuracy: 0.7166666666666668
100
Mean accuracy: 0.4999999999999999

In [20]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("NMI500_HYS1vs2_Female_100RF.csv", index = False)

0.6351666666666668