# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## Top 50 Boruta

In [2]:
%cd S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3\Boruta
df = pd.read_csv('HYS2vs3_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

S:\PPMI_RNA\Processed\Progression_Analysis\Male\HYS_1vs2vs3\Boruta
(534, 51)

,ENSG00000230679.1,ENSG00000229994.1,ENSG00000238287.1,ENSG00000281912.1,ENSG00000081985.11,ENSG00000270339.3,ENSG00000143365.17,ENSG00000227591.5,ENSG00000214711.9,ENSG00000057935.13,...,ENSG00000259843.2,ENSG00000131153.8,ENSG00000262823.1,ENSG00000166582.9,ENSG00000197134.11,ENSG00000273047.1,ENSG00000100359.20,ENSG00000196507.10,ENSG00000215580.10,HYS
0,30,115,121,28,455,151,188,37,112,836,...,18,120,103,262,552,0,117,130,751,2
1,20,90,60,19,294,123,92,24,93,573,...,10,54,66,94,352,0,142,113,404,2

In [3]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.475
2
Mean accuracy: 0.65
3
Mean accuracy: 0.7
4
Mean accuracy: 0.675
5
Mean accuracy: 0.575
6
Mean accuracy: 0.525
7
Mean accuracy: 0.6
8
Mean accuracy: 0.375
9
Mean accuracy: 0.5
10
Mean accuracy: 0.45
11
Mean accuracy: 0.475
12
Mean accuracy: 0.55
13
Mean accuracy: 0.7
14
Mean accuracy: 0.575
15
Mean accuracy: 0.575
16
Mean accuracy: 0.65
17
Mean accuracy: 0.5
18
Mean accuracy: 0.55
19
Mean accuracy: 0.55
20
Mean accuracy: 0.55
21
Mean accuracy: 0.425
22
Mean accuracy: 0.55
23
Mean accuracy: 0.55
24
Mean accuracy: 0.525
25
Mean accuracy: 0.55
26
Mean accuracy: 0.675
27
Mean accuracy: 0.6
28
Mean accuracy: 0.55
29
Mean accuracy: 0.55
30
Mean accuracy: 0.5
31
Mean accuracy: 0.525
32
Mean accuracy: 0.425
33
Mean accuracy: 0.625
34
Mean accuracy: 0.525
35
Mean accuracy: 0.425
36
Mean accuracy: 0.575
37
Mean accuracy: 0.575
38
Mean accuracy: 0.575
39
Mean accuracy: 0.425
40
Mean accuracy: 0.525
41
Mean accuracy: 0.475
42
Mean accuracy: 0.525
43
Mean accuracy: 0.525
44
Mean accuracy: 0.425
45
Mean accuracy: 0.475
46
Mean accuracy: 0.55
47
Mean accuracy: 0.575
48
Mean accuracy: 0.475
49
Mean accuracy: 0.6
50
Mean accuracy: 0.55
51
Mean accuracy: 0.55
52
Mean accuracy: 0.55
53
Mean accuracy: 0.6
54
Mean accuracy: 0.55
55
Mean accuracy: 0.5
56
Mean accuracy: 0.55
57
Mean accuracy: 0.55
58
Mean accuracy: 0.5
59
Mean accuracy: 0.45
60
Mean accuracy: 0.6
61
Mean accuracy: 0.425
62
Mean accuracy: 0.475
63
Mean accuracy: 0.5
64
Mean accuracy: 0.525
65
Mean accuracy: 0.5
66
Mean accuracy: 0.5
67
Mean accuracy: 0.4
68
Mean accuracy: 0.55
69
Mean accuracy: 0.6
70
Mean accuracy: 0.75
71
Mean accuracy: 0.475
72
Mean accuracy: 0.475
73
Mean accuracy: 0.6
74
Mean accuracy: 0.625
75
Mean accuracy: 0.325
76
Mean accuracy: 0.525
77
Mean accuracy: 0.4
78
Mean accuracy: 0.425
79
Mean accuracy: 0.6
80
Mean accuracy: 0.4
81
Mean accuracy: 0.6
82
Mean accuracy: 0.65
83
Mean accuracy: 0.425
84
Mean accuracy: 0.5
85
Mean accuracy: 0.475
86
Mean accuracy: 0.5
87
Mean accuracy: 0.5
88
Mean accuracy: 0.45
89
Mean accuracy: 0.475
90
Mean accuracy: 0.65
91
Mean accuracy: 0.525
92
Mean accuracy: 0.65
93
Mean accuracy: 0.425
94
Mean accuracy: 0.55
95
Mean accuracy: 0.5
96
Mean accuracy: 0.55
97
Mean accuracy: 0.625
98
Mean accuracy: 0.6
99
Mean accuracy: 0.525
100
Mean accuracy: 0.575

In [4]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta50_HYS2vs3_Male_100RF.csv", index = False)

0.53275

## Top 100 Boruta

In [5]:
df = pd.read_csv('HYS2vs3_Boruta_Top100_Data_Male.csv')
print(df.shape)
df.head(2)

(534, 101)

,ENSG00000271746.1,ENSG00000230679.1,ENSG00000229994.1,ENSG00000238287.1,ENSG00000162415.6,ENSG00000281912.1,ENSG00000116641.17,ENSG00000081985.11,ENSG00000069702.10,ENSG00000162676.11,...,ENSG00000273047.1,ENSG00000236499.2,ENSG00000211660.3,ENSG00000178026.12,ENSG00000100359.20,ENSG00000196507.10,ENSG00000182508.13,ENSG00000215580.10,ENSG00000229236.1,HYS
0,82,30,115,121,212,28,1178,455,3722,910,...,0,70,1209,6,117,130,32,751,295,2
1,34,20,90,60,193,19,930,294,2289,343,...,0,68,48,10,142,113,20,404,330,2

In [6]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.475
2
Mean accuracy: 0.675
3
Mean accuracy: 0.675
4
Mean accuracy: 0.575
5
Mean accuracy: 0.55
6
Mean accuracy: 0.525
7
Mean accuracy: 0.55
8
Mean accuracy: 0.4
9
Mean accuracy: 0.425
10
Mean accuracy: 0.475
11
Mean accuracy: 0.625
12
Mean accuracy: 0.55
13
Mean accuracy: 0.675
14
Mean accuracy: 0.525
15
Mean accuracy: 0.525
16
Mean accuracy: 0.5
17
Mean accuracy: 0.5
18
Mean accuracy: 0.55
19
Mean accuracy: 0.425
20
Mean accuracy: 0.55
21
Mean accuracy: 0.6
22
Mean accuracy: 0.65
23
Mean accuracy: 0.625
24
Mean accuracy: 0.475
25
Mean accuracy: 0.575
26
Mean accuracy: 0.625
27
Mean accuracy: 0.575
28
Mean accuracy: 0.475
29
Mean accuracy: 0.5
30
Mean accuracy: 0.55
31
Mean accuracy: 0.55
32
Mean accuracy: 0.425
33
Mean accuracy: 0.65
34
Mean accuracy: 0.525
35
Mean accuracy: 0.35
36
Mean accuracy: 0.55
37
Mean accuracy: 0.65
38
Mean accuracy: 0.55
39
Mean accuracy: 0.425
40
Mean accuracy: 0.575
41
Mean accuracy: 0.525
42
Mean accuracy: 0.525
43
Mean accuracy: 0.525
44
Mean accuracy: 0.4
45
Mean accuracy: 0.45
46
Mean accuracy: 0.5
47
Mean accuracy: 0.525
48
Mean accuracy: 0.4
49
Mean accuracy: 0.575
50
Mean accuracy: 0.6
51
Mean accuracy: 0.525
52
Mean accuracy: 0.475
53
Mean accuracy: 0.55
54
Mean accuracy: 0.5
55
Mean accuracy: 0.55
56
Mean accuracy: 0.625
57
Mean accuracy: 0.525
58
Mean accuracy: 0.4
59
Mean accuracy: 0.45
60
Mean accuracy: 0.575
61
Mean accuracy: 0.4
62
Mean accuracy: 0.4
63
Mean accuracy: 0.55
64
Mean accuracy: 0.5
65
Mean accuracy: 0.55
66
Mean accuracy: 0.6
67
Mean accuracy: 0.45
68
Mean accuracy: 0.5
69
Mean accuracy: 0.475
70
Mean accuracy: 0.725
71
Mean accuracy: 0.425
72
Mean accuracy: 0.45
73
Mean accuracy: 0.5
74
Mean accuracy: 0.65
75
Mean accuracy: 0.475
76
Mean accuracy: 0.55
77
Mean accuracy: 0.4
78
Mean accuracy: 0.475
79
Mean accuracy: 0.55
80
Mean accuracy: 0.425
81
Mean accuracy: 0.5
82
Mean accuracy: 0.6
83
Mean accuracy: 0.5
84
Mean accuracy: 0.525
85
Mean accuracy: 0.475
86
Mean accuracy: 0.575
87
Mean accuracy: 0.475
88
Mean accuracy: 0.475
89
Mean accuracy: 0.475
90
Mean accuracy: 0.625
91
Mean accuracy: 0.525
92
Mean accuracy: 0.7
93
Mean accuracy: 0.475
94
Mean accuracy: 0.575
95
Mean accuracy: 0.7
96
Mean accuracy: 0.475
97
Mean accuracy: 0.625
98
Mean accuracy: 0.625
99
Mean accuracy: 0.525
100
Mean accuracy: 0.575

In [7]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta100_HYS2vs3_Male_100RF.csv", index = False)

0.52925

## Top 250 Boruta

In [8]:
df = pd.read_csv('HYS2vs3_Boruta_Top250_Data_Male.csv')
print(df.shape)
df.head(2)

(534, 251)

,ENSG00000271746.1,ENSG00000171735.18,ENSG00000230679.1,ENSG00000228140.1,ENSG00000130768.14,ENSG00000229994.1,ENSG00000187815.9,ENSG00000238287.1,ENSG00000162415.6,ENSG00000281912.1,...,ENSG00000100197.21,ENSG00000184867.13,ENSG00000158301.18,ENSG00000196507.10,ENSG00000199832.1,ENSG00000182508.13,ENSG00000224485.1,ENSG00000215580.10,ENSG00000229236.1,HYS
0,82,998,30,246,34,115,343,121,212,28,...,13,141,153,130,0,32,0,751,295,2
1,34,748,20,342,35,90,273,60,193,19,...,30,121,91,113,0,20,0,404,330,2

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.55
2
Mean accuracy: 0.625
3
Mean accuracy: 0.675
4
Mean accuracy: 0.675
5
Mean accuracy: 0.6
6
Mean accuracy: 0.575
7
Mean accuracy: 0.625
8
Mean accuracy: 0.45
9
Mean accuracy: 0.425
10
Mean accuracy: 0.55
11
Mean accuracy: 0.55
12
Mean accuracy: 0.575
13
Mean accuracy: 0.525
14
Mean accuracy: 0.575
15
Mean accuracy: 0.6
16
Mean accuracy: 0.55
17
Mean accuracy: 0.525
18
Mean accuracy: 0.5
19
Mean accuracy: 0.55
20
Mean accuracy: 0.6
21
Mean accuracy: 0.575
22
Mean accuracy: 0.6
23
Mean accuracy: 0.575
24
Mean accuracy: 0.5
25
Mean accuracy: 0.525
26
Mean accuracy: 0.55
27
Mean accuracy: 0.55
28
Mean accuracy: 0.55
29
Mean accuracy: 0.45
30
Mean accuracy: 0.525
31
Mean accuracy: 0.5
32
Mean accuracy: 0.4
33
Mean accuracy: 0.625
34
Mean accuracy: 0.525
35
Mean accuracy: 0.4
36
Mean accuracy: 0.525
37
Mean accuracy: 0.55
38
Mean accuracy: 0.65
39
Mean accuracy: 0.425
40
Mean accuracy: 0.65
41
Mean accuracy: 0.525
42
Mean accuracy: 0.575
43
Mean accuracy: 0.55
44
Mean accuracy: 0.35
45
Mean accuracy: 0.425
46
Mean accuracy: 0.65
47
Mean accuracy: 0.6
48
Mean accuracy: 0.525
49
Mean accuracy: 0.675
50
Mean accuracy: 0.55
51
Mean accuracy: 0.45
52
Mean accuracy: 0.45
53
Mean accuracy: 0.575
54
Mean accuracy: 0.525
55
Mean accuracy: 0.575
56
Mean accuracy: 0.575
57
Mean accuracy: 0.55
58
Mean accuracy: 0.5
59
Mean accuracy: 0.475
60
Mean accuracy: 0.6
61
Mean accuracy: 0.325
62
Mean accuracy: 0.475
63
Mean accuracy: 0.55
64
Mean accuracy: 0.5
65
Mean accuracy: 0.625
66
Mean accuracy: 0.625
67
Mean accuracy: 0.35
68
Mean accuracy: 0.55
69
Mean accuracy: 0.625
70
Mean accuracy: 0.65
71
Mean accuracy: 0.45
72
Mean accuracy: 0.5
73
Mean accuracy: 0.625
74
Mean accuracy: 0.7
75
Mean accuracy: 0.5
76
Mean accuracy: 0.5
77
Mean accuracy: 0.45
78
Mean accuracy: 0.475
79
Mean accuracy: 0.525
80
Mean accuracy: 0.525
81
Mean accuracy: 0.525
82
Mean accuracy: 0.625
83
Mean accuracy: 0.425
84
Mean accuracy: 0.45
85
Mean accuracy: 0.475
86
Mean accuracy: 0.55
87
Mean accuracy: 0.475
88
Mean accuracy: 0.5
89
Mean accuracy: 0.475
90
Mean accuracy: 0.675
91
Mean accuracy: 0.65
92
Mean accuracy: 0.6
93
Mean accuracy: 0.475
94
Mean accuracy: 0.7
95
Mean accuracy: 0.575
96
Mean accuracy: 0.525
97
Mean accuracy: 0.65
98
Mean accuracy: 0.75
99
Mean accuracy: 0.4
100
Mean accuracy: 0.625

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta250_HYS2vs3_Male_100RF.csv", index = False)

0.5429999999999999

## Top 500 Boruta

In [11]:
df = pd.read_csv('HYS2vs3_Boruta_Top500_Data_Male.csv')
print(df.shape)
df.head(2)

(534, 501)

,ENSG00000271746.1,ENSG00000171735.18,ENSG00000230679.1,ENSG00000142583.17,ENSG00000283789.1,ENSG00000228140.1,ENSG00000117318.8,ENSG00000284657.1,ENSG00000260063.1,ENSG00000130768.14,...,ENSG00000231728.3,ENSG00000199832.1,ENSG00000182508.13,ENSG00000009694.13,ENSG00000029993.14,ENSG00000224485.1,ENSG00000215580.10,ENSG00000229236.1,ENSG00000277196.4,HYS
0,82,998,30,130,2,246,257,142,82,34,...,58,0,32,1194,111,0,751,295,0,2
1,34,748,20,58,0,342,299,117,57,35,...,54,0,20,834,45,0,404,330,1,2

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df1 = df.groupby('HYS').apply(lambda x: x.sample(20))
    X = df1.drop('HYS', axis = 1)
    y = df1['HYS']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.525
2
Mean accuracy: 0.6
3
Mean accuracy: 0.675
4
Mean accuracy: 0.625
5
Mean accuracy: 0.625
6
Mean accuracy: 0.575
7
Mean accuracy: 0.525
8
Mean accuracy: 0.5
9
Mean accuracy: 0.5
10
Mean accuracy: 0.5
11
Mean accuracy: 0.6
12
Mean accuracy: 0.625
13
Mean accuracy: 0.525
14
Mean accuracy: 0.5
15
Mean accuracy: 0.575
16
Mean accuracy: 0.475
17
Mean accuracy: 0.5
18
Mean accuracy: 0.525
19
Mean accuracy: 0.575
20
Mean accuracy: 0.55
21
Mean accuracy: 0.5
22
Mean accuracy: 0.475
23
Mean accuracy: 0.625
24
Mean accuracy: 0.45
25
Mean accuracy: 0.575
26
Mean accuracy: 0.625
27
Mean accuracy: 0.55
28
Mean accuracy: 0.475
29
Mean accuracy: 0.45
30
Mean accuracy: 0.575
31
Mean accuracy: 0.525
32
Mean accuracy: 0.55
33
Mean accuracy: 0.6
34
Mean accuracy: 0.575
35
Mean accuracy: 0.375
36
Mean accuracy: 0.525
37
Mean accuracy: 0.475
38
Mean accuracy: 0.65
39
Mean accuracy: 0.475
40
Mean accuracy: 0.7
41
Mean accuracy: 0.425
42
Mean accuracy: 0.525
43
Mean accuracy: 0.575
44
Mean accuracy: 0.45
45
Mean accuracy: 0.5
46
Mean accuracy: 0.575
47
Mean accuracy: 0.55
48
Mean accuracy: 0.55
49
Mean accuracy: 0.55
50
Mean accuracy: 0.45
51
Mean accuracy: 0.525
52
Mean accuracy: 0.45
53
Mean accuracy: 0.5
54
Mean accuracy: 0.55
55
Mean accuracy: 0.5
56
Mean accuracy: 0.55
57
Mean accuracy: 0.575
58
Mean accuracy: 0.525
59
Mean accuracy: 0.5
60
Mean accuracy: 0.55
61
Mean accuracy: 0.45
62
Mean accuracy: 0.45
63
Mean accuracy: 0.525
64
Mean accuracy: 0.45
65
Mean accuracy: 0.6
66
Mean accuracy: 0.6
67
Mean accuracy: 0.375
68
Mean accuracy: 0.625
69
Mean accuracy: 0.575
70
Mean accuracy: 0.75
71
Mean accuracy: 0.525
72
Mean accuracy: 0.475
73
Mean accuracy: 0.575
74
Mean accuracy: 0.725
75
Mean accuracy: 0.475
76
Mean accuracy: 0.5
77
Mean accuracy: 0.575
78
Mean accuracy: 0.425
79
Mean accuracy: 0.55
80
Mean accuracy: 0.45
81
Mean accuracy: 0.475
82
Mean accuracy: 0.625
83
Mean accuracy: 0.525
84
Mean accuracy: 0.5
85
Mean accuracy: 0.45
86
Mean accuracy: 0.5
87
Mean accuracy: 0.525
88
Mean accuracy: 0.4
89
Mean accuracy: 0.475
90
Mean accuracy: 0.65
91
Mean accuracy: 0.5
92
Mean accuracy: 0.575
93
Mean accuracy: 0.45
94
Mean accuracy: 0.675
95
Mean accuracy: 0.525
96
Mean accuracy: 0.525
97
Mean accuracy: 0.7
98
Mean accuracy: 0.675
99
Mean accuracy: 0.5
100
Mean accuracy: 0.65

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Boruta500_HYS2vs3_Male_100RF.csv", index = False)

0.5380000000000001